    
#MyDiv1{border: solid CornflowerBlue  10px;
	width:1290px;
	height:100px;
        
       }
#MyDiv2{border: solid CornflowerBlue  10px;
	width: 400px;
	height:550px; 
        
        }
